<div id="app-state" class="item">
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
	<div class="container-fluid">		
		<a class="brand" href="#">GCFS</a>
		
		<div class="nav-collapse collapse">
			<ul class="nav pull-right">
				<li class="divider-vertical"></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-user"></i> User <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="icon-info-sign"></i> Profile</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="icon-signout"></i> Logout</a></li>
					</ul></li>
			</ul>
			<ul class="nav">
				<li class="active"><a href="#">Home</a></li>
			</ul>
		</div>
	</div><!-- container -->
</div>
</div><!-- navbar -->

<div class="container-fluid">
<div class="row-fluid">
	<div class="span2">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Explorer</li>
				<li>
					<div id="explorer" class="folderview"></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="span10">
		<div class="hero-unit well">						
		</div>
	</div>
</div>
</div><!-- container -->
</div>